@charset "utf-8";
/* CSS Document */
table {
	margin: 4px 0 14px !important;
	width: 100%;
	border-collapse: collapse;
}

table th, table td {
	font-size: 14px;
	line-height: 2;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

table th {
	width: 126px !important;
	letter-spacing: 0.1em;
}