@charset "utf-8";
/* CSS Document */


.c_inner_single {
	padding:0 30px 0;
}

p.comment {
	padding:30px 0 30px;
}

.c_s_ttl {
	font-weight:bold;
	font-size:115%;
	margin:50px 0 10px 0;
}

.c_inner_single p {
	line-height: 1.714;
}
.map {
	margin:18px auto 59px;
	width: 636px;
}

.textBox {
	margin: 0 11px;
}

.textBox p.img {
	margin-bottom: 16px;
}

.textBox .listUl {
	margin-bottom: 22px;
}

.textBox .listUl li {
	margin-bottom: 9px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.textBox .listUl li .img {
	width: 61px;
	text-align: right;
}
.textBox .listUl li p {
	padding-left: 15px;
	line-height: 1.71;
	flex: 1;
	font-size: 14px;
	letter-spacing: -1px;
}

.textBox .listUl li span {
	padding-left: 13px;
	display: block;
	position: relative;
}
.textBox .listUl li span::before {
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	top: 5px;
	background: #583F46;
	content: '';
	border-radius: 100px;
} 

.textBox .textUl {
	margin-bottom: 14px;
}

.textBox .textUl li {
	padding-left: 1em;
	text-indent: -1em;
	line-height: 1.71;
}


#basu_nav {
	width: 680PX;
	margin-left: 32px;
}


#basu_nav ul {
	overflow:hidden;
	margin:0 0 30PX 0 ;
}

#basu_nav ul li {
	float:left;
	width:170PX;
}

#jb {
	position: relative;
}
#jb4 {
	position: relative;
}


#jb .navi {
	position: absolute;
 right:60px;
 top:30px; 
}

#jb3 .navi3 {
	position: absolute;
 right:60px;
 top:30px; 
}

#jb2 .navi2 {
	position: absolute;
 right:60px;
 top:30px; 
}

.navi4 {
	position: absolute;
 right:60px;
 top:30px; 
}
#t {
	padding-bottom: 40px;
	font-size: 12px;
}


#jikoku {
	width: 650px;
	padding-left: 40px;
	padding-top: 0px;
	clear: both;
	margin-top: -10px;
}
#t {
	width: 650px;
	padding-left: 38px;
}
#jb {
	background: url(../img/about/access/map/aka_corce_map.png) no-repeat;
	width: 580px;
	padding-left: 40px;
	position: relative;
	margin-left: 40px;
	height: 650px;
	z-index: 100;
}
#jb2 {
	background: url(../img/about/access/map/ao_corce_map.png) no-repeat;
	width: 580px;
	padding-left: 40px;
	position: relative;
	margin-left: 40px;
	height: 650px;
	z-index: 100;
}
#jb3 {
	background: url(../img/about/access/map/midori_corce_map.png) no-repeat;
	width: 580px;
	padding-left: 40px;
	position: relative;
	margin-left: 40px;
	height: 650px;
	z-index: 100;
}
#jb4 {
	background: url(../img/about/access/map/kiiro_corce_map.png) no-repeat;
	width: 580px;
	padding-left: 40px;
	position: relative;
	margin-left: 40px;
	height: 650px;
	z-index: 100;
}
