@charset "utf-8";
/* CSS Document */


.c_inner {
}

.c_inner .left {
	width:410px;
	float:left;
	padding:0 0 0 16px;
}

.azukari {
	padding:12px 0 0 16px;
}

.c_inner .right {
	float:right;
	width:217px;
}

.c_inner .in01,
.c_inner .in02,
.c_inner .in03,
.c_inner .in04{
	clear:both;
	background-color:#FFF;
}

.btn_area {
	clear:both;
	text-align:center;
	margin:15px 0 80px 0;
	position:relative;
	top:0;
}

.btn_area a:hover img {
	opacity: 0.7;
}
.link_area {
	clear:both;
	padding:15px 20px 29px 15px;
}

.link_area li {
	position:relative;
}

.link_area li span {
	position:absolute;
	top:15px;
	left:219px;
}

.link_area li.link01 {
	background:url(../img/about/community/bg_link01.jpg) no-repeat;
	width:650px;
	height:50px;
	margin:0 0 5px 0;
}

.link_area li.link02 {
	background:url(../img/about/community/bg_link02.jpg) no-repeat;
	width:650px;
	height:50px;
	margin:0 0 5px 0;
}


.link_area li.link03 {
	background:url(../img/about/community/bg_link03.jpg) no-repeat;
	width:650px;
	height:50px;
	margin:0 0 5px 0;
}

.link_area li.link04 {
	background:url(../img/about/community/bg_link04.jpg) no-repeat;
	width:650px;
	height:50px;
	margin:0 0 5px 0;
}


.zousan {
	float:right;
	margin:0 0 10px 20px;
}

.info {
	margin:40px 0 0 0;
	padding: 8px 0;
	clear: both;
}

.info .info_tab {
	margin: 0 auto;
	width: 615px;
}

.info .info_tab th,
.info .info_tab td {
	padding: 12px 5px 11px 16px;
	font-size: 14px;
	line-height: 1.57;
	text-align: left;
	vertical-align: top;
	border: 1px solid #583F46;
}

.info .info_tab th {
	width: 133px;
	font-weight: bold;
	vertical-align: middle;
	box-sizing: border-box;
}

.info .info_tab td span {
	display: inline-block;
	width: 54px;
}



table.info_t th {
	padding:10px 10px 10px 0;
}

table.price  {
	width:100%;
	border-top:2px solid #583F45;
	border-right:2px solid #583F45;
	margin:20px 0 5px 0;
}
table.price tr td {
	background-color:#EDEBE4;
	vertical-align:middle;
	text-align:center;
	padding:2px;
	border-bottom:2px solid #583F45;
	border-left:2px solid #583F45;
}

table.price tr td.w90 {
	width:90px;
}

table.price tr td.w_l {
	width:130px;
}

table.price tr td.w_s {
	width:80px;
}

table.price tr td.w_m {
	width:120px;
}




table.info_t th {
	font-weight:normal;
	width:115px;
	text-align:left;
}

table.info_t th.hiyou {
	vertical-align:top;
	padding:20px 0 0 0;
}


table.jikoku {
	margin:0 0 -20px 0;
}

table.jikoku td {
	padding:10px 10px 0px 0;
}


table.info_t td.t_left {
	text-align:left;
	padding:10px;
}

.ws {
}


.info .info_tab + p {
	margin: 15px 20px 0;
}