@charset "utf-8";
/* CSS Document */


html {
}

body {
	background:#CDE66C;
	color:#583F46;
	font-family:"メイリオ", Meiryo, Osaka, sans-serif;
	font-size: 88%;
	line-height: 1.6;
}

a {
	color:#583F46;
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
}



@media screen and (max-device-width: 480px) {
body {
-webkit-text-size-adjust: none; /* iPhone */
	background:#CDE66C;
	color:#583F46;
	font-family:"メイリオ", Meiryo, Osaka, sans-serif;
	font-size: 88%;
	line-height: 1.6;
	width:1300px;
	margin:0 auto;
}
}


/*header*/

header#lower {
	background: url(../img/common/h_bg.jpg) repeat-x;
	background-position:3px 0;
	height:180px;
}

header#lower .h_inner {
	width:1300px;
	margin:0 auto;
	position:relative;
}

header#lower nav {
	position:absolute;
	top:116px;
	left:150px;
}


/*bread*/


.bread {
	width:960px;
	margin:10px auto;
}

.bread  ul {
	float:right;
	position: relative;
	z-index: 11;
}

.bread li {
	float:left;
	padding:0 5px 0 5px;
	font-size:86%;
}


/*contetn*/

#content {
	clear:both;
	width:960px;
	margin:0 auto;
}


.p_ttl {
	margin:0px 0 0 0;
}


/*side*/

#side {
	width:208px;
	float:left;
	margin:-4px 0 0 0;
}

#side .side_ban_area {
	margin: 6px 0 24px;
	position:relative;
	left:3px;
}

#side .side_ban_top {
	margin: -7px 0 4px -3px;
}

.side_ban_contact {
	position:relative;
	left:-3px;
	margin:20px 0 0 0;
}

#side ul.cate {
	position:relative;
	top:-2px;
}

#side ul.cate li{
	background-color:#FFF;
	width:205px;
	padding:0 0 0 ;
	margin:0 0 0 3px;
}

#side ul.cate li a {
	display:block;
	width:165px;
	background-color:#FFF;
	background:url(../img/topics/arrow.png) no-repeat;
	background-position:20px 50%;
	padding:13px 0 10px 40px
}

#side ul.cate li a.none {
	background-image:none;
}

#side ul.cate li a.under {
	text-decoration: none;
}

#side ul.cate li:hover {
	background-color:#E6E9DE;
}

#side ul.cate li a.now {
	background-color:#E6E9DE;
	overflow:hidden;
}

.side_ban_azukari {
	position:relative;
	top:-10px;
	left:-3px;
}

.side_ban_top {
	margin: -7px 0 4px;
}

.side_ban_top02 {
	position:relative;
	text-align: center;
}

.side_ban_top02_low {
	position:relative;
	left:-3px;
	top: -7px;
}

.side_ban_top03 {
	margin-top: 15px;
}

.side_ban_top03:hover {
	opacity: 0.7;
}
.cate_top {
	position:relative;
	top:5px;
}




/*main_cont*/

#main_cont {
	float:right;
	width:711px;
	margin:7px 0 0 0;
}

#main_cont .c01 {
	background:url(../img/common/bg_c_in.png) repeat-y;
	margin-top:-5px;
	padding:10px 0 0 0;
}

#main_cont .c01 .c_inner {
	padding:0px 30px 0 15px;
	
}

#main_cont  .c01 .c01_ttl {
	font-size:158%;
	position: relative;
	z-index: 10;
	background:url(../img/common/flower.jpg) no-repeat;
	background-position:25px 50%;
	padding:0 0 0 65px;
	font-weight:bold;
	margin:0 0 15px 0;
}

#main_cont .bg_top {
	position:relative;
	top:4px;
}

.c_inner img.c_in_ttl {
	margin:0 0 10px 0;
}

.c_inner_single {
	padding:0 30px 0;
	
}

.red {
	color:#F00;
}


/*footer*/


footer {
	clear:both;
	margin:100px 0 0 0;
}


footer .f_inner {
	clear:both;
}

footer .f_inner .f_top {
	width:961px;
	margin:0 auto;
	position:relative;
	top:10px;
}

footer .f_inner .f_top .ban_contact {
	position:relative;
	top:3px;
}


footer .f_inner .f_top .ex {
	font-size:115%;
	font-weight:bold;
	position:relative;
	top:-20px;
	left:15px;
}

footer .f_inner .f_top .toTop {
	float:right;
	position:relative;
	top:33px;
	right:-55px;
}

footer .f_inner .f_top .toTop:hover {
	opacity: 0.7;
}

footer .f_inner .f_bottom {
	background:url(../img/common/bg_sitemap.jpg) repeat-x;
	height:244px;
}

footer .f_inner .f_bottom .inner {
	width:960px;
	margin:0 auto;
}

footer .f_inner .f_bottom .logo {
	float:left;
	width:215px;
	position:relative;
	top:12px;
}

footer .f_inner .f_bottom .logo small {
	display:block;
	clear:both;
	text-decoration:none;
	font-style:normal;
	font-size:70%;
	margin:1px 0 0 0;
	position:relative;
	left:0px;
}

footer .f_inner .f_bottom .logo h1 {
	margin-bottom: 5px;
	text-align: center;
}
footer .f_inner .f_bottom .logo p {
	margin-left: 10px;
	font-size: 13px;
	line-height: 1.46;
}
footer .f_inner .f_bottom .sitemap {
	float:left;
	position:relative;
	line-height:2;
}

footer .f_inner .f_bottom .sitemap .green {
	color: #FF9600;
	vertical-align: 1px;
}

footer .f_inner .f_bottom .sitemap ul li a {
	text-decoration: none;
}

footer .f_inner .f_bottom .sitemap ul li a:hover {
	text-decoration: underline;
}
footer .f_inner .f_bottom .sitemap ul.left {
	position:absolute;
	width:125px;
	top:23px;
	left:0px;
	border-left:1px solid #CCC;
	margin:0 0 0 10px;
	padding: 0 0 0 10px;
	height:192px;
}

footer .f_inner .f_bottom .sitemap ul.center {
	position:absolute;
	width:148px;
	top:23px;
	left:122px;
	border-left:1px solid #CCC;
	margin:0 0 0 15px;
	padding: 0 0 0 12px;
}

footer .f_inner .f_bottom .sitemap ul.right {
	position:absolute;
	width:205px;
	top:23px;
	left:300px;
	border-left:1px solid #CCC;
	margin:0 0 0 15px;
	padding: 0 0 0 12px;
}

footer .f_inner .f_bottom .f_ban {
	float:right;
	width:241px;
	margin:25px 0 0 0;
}
footer .f_inner .f_bottom .f_ban a {
	margin-bottom: -3px;
	display: block;
	
}
.green {
	color:#61B827;
}


footer .copy {
	width:961px;
	margin:0 auto;
	padding:5px 0 5px 20px;
	font-size: 10px;
	font-weight: bold;
}



/* start: clearfix ------------------------------ */

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear: both;}
/* For IE 6/7 (trigger hasLayout) */
.clearfix { zoom: 1;}


/* end: clearfix ------------------------------ */



.float_l{ float: left;}
.float_r{ float: right;}


.comingsoon {
	font-size: 180%;
	text-align: center;
	width: 80%;
	margin:50px auto; 
	height: 300px;
	border:3px solid #85695F;
	border-radius: 5px;
	color: #85695F;
	background: url(../img/about/comingsoonbg.jpg) center bottom no-repeat;

}

.comingsoon .inner {
	position: relative;
	top: 110px;
}

.comingsoon span {
	font-size: 70%;
}

a.blog {
	margin-top: 15px;
	margin-bottom: -10px;
	display: block;
}