@charset "utf-8";
/* CSS Document */


.c_inner_single {
	padding:0 30px 0;
}

table.form {
	width:100%;
	border-top:4px solid #E6E3D9;
	border-right:4px solid #E6E3D9;
	margin:15px 0 0 0;
}

table.form th {
	font-weight:normal;
	padding:10px;
	border-bottom:4px solid #E6E3D9;
	border-left:4px solid #E6E3D9;
	width:175px;
	text-align:left;
	vertical-align:middle;
}

table.form th.hissu {
	background:url(../img/contact/hissu.png) no-repeat;
	background-position:140px 50%;
}

table.form td {
	padding:10px;
	border-bottom:4px solid #E6E3D9;
	border-left:4px solid #E6E3D9;
}

.form_s {
	width:120px;
	height:27px;
}


.form_m {
}


.form_l {
	width:424px;
	height:27px;
}

.form_z {
	width:424px;
	height: 70px;
	resize: vertical;
}

.form_p {
	color:#583F46;
	width:635px;
	height:166px;
	font-size:100%;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding:15px 0 15px 15px;
}

.small {
	font-size:86%;
}

.ttl {
	margin:35px 0 0 0;
}

.check {
	text-align:center;
	margin:10px 0 25px 0;
}

.btn_hover {
	background:url(../img/contact/btn_submit_o.jpg) no-repeat;
	width:230px;
	height:45px;
	margin: 0 auto;
	padding-bottom: 25px;
}

.btn_submit {
	background:url(../img/contact/btn_submit.jpg) no-repeat scroll left top rgba(0, 0, 0, 0);
	overflow:hidden;
    background: url("../img/contact/form/bt.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: block;
	width:230px;
	height:45px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
	text-indent:150%;
}

#opa:hover {
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.hissu_mark {
	position:relative;
	top:5px;
}

.wpcf7-validation-errors {
	background-color:#FFF;
	padding:15px;
	color:#F00;
}

.your-email span,
.your-name span,
.your-message span{
	color:#F00;
	font-size:86%;
}


.wpcf7-mail-sent-ng,
.wpcf7-validation-errors,
.wpcf7-mail-sent-ok{
	color:#F00;
	border:1px solid #F00;
	padding:5px;
	text-align:center;
}

.note {
	margin:15px 0 0 0;
}

.checkbox > span {
	width: 160px;
	display: inline-block;
	font-size: 14px;
	line-height: 1;
}

.text {
	margin: 5px 0 -7px;
}

.wpcf7 {
	padding: 0 30px 0;
}
.wpcf7-list-item {
	display: inline-block;
	width: 40%;
}