@charset "utf-8";
/* CSS Document */


.main_img {
	padding:0 0;
	margin-bottom:-348px;
	position:relative;
	top:-50px;
	text-align: right;
}

.c01_ttl_enter {
	font-size:129%;
	background:url(../img/enter/flower.png) no-repeat;
	background-position:25px 50%;
	padding:2px 0 0 50px;
	font-weight:bold;
	margin:0 0 5px 0;
	
}

.c01_ttl02_enter {
	font-size:129%;
	font-weight:bold;
	margin:0 0 15px 0;
	width:148px;
	float:left;
}


.box {
	border:4px solid #E6E3D9;
	margin:0 25px 30px 25px;
	padding:15px 20px 15px 20px;
}

.box_g {
	background-color:#EDEBE4;
	margin:10px 25px 25px 25px;
	padding:20px 15px 15px 25px;
}

.box_g p {
	float:right;
	width:463px;
}

.box_g .right {
	width:460px;
	float:right;
}

.box_g .right table {
	border-top:1px solid #583F46;
	border-left:1px solid #583F46;
	margin:0 0 10px 0;
}

.box_g .right table th {
	width:220px;
	border-bottom:1px solid #583F46;
	border-right:1px solid #583F46;
	text-align:left;
	padding:5px 0 5px 10px;
	font-weight:normal;
}

.box_g .right table td {
	width:240px;
	border-bottom:1px solid #583F46;
	border-right:1px solid #583F46;
	text-align:left;
	padding:5px 0 5px 10px;
	vertical-align:middle;
}

.note {
	font-size:70%;
	font-weight:normal;
	line-height:1.6;
}

.textBox {
	margin: -164px 38px 23px;
	position: relative;
	z-index: 5;
}

.textBox p {
	margin-bottom: 22px;
	font-size: 14px;
	line-height: 1.57;
}

.textBox .ttl {
	margin-bottom: 23px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
}

.textBox .linkUl {
	margin: 78px 2px 0;
}
.textBox .linkUl li {
	margin-right: 33px;
	display: inline-block;
	vertical-align: top;
}

.textBox .linkUl li a:hover img {
	opacity: 0.7;
}
