@charset "utf-8";
/* CSS Document */

.c_inner_single {
	padding:0 !important;
}
.bg_shisetsu {
	margin: -51px auto 24px;
	background:url("../img/about/equipment/bg_01_201709.jpg") no-repeat;
	position:relative;
	width:691px;
	height:871px;
	line-height:1.57;
}

.ex_00 {
	position:absolute;
	top:287px;
	left:33px;
	width:382px;
	line-height:1.57;
	background-color:#FFF;
}

.btn_shisetsu {
	position:absolute;
	top:583px;
	left:402px;
}



.ex_01 {
	position:absolute;
	top:630px;
	left:31px;
	background-color:#FFF;
}


.ex_02 {
	position:absolute;
	top:630px;
	left: 250px;
}


.ex_03 {
	position:absolute;
	top:630px;
	left: 468px;
	background-color:#FFF;
}

.ex_04 {
	position:absolute;
	top:827px;
	left:31px;
	background-color:#FFF;
}

.ex_05 {
	position:absolute;
	top:827px;
	left: 250px;
	background-color:#FFF;
}

.ex_06 {
	position:absolute;
	top:827px;
	left: 468px;
}

.ex_07 {
	position:absolute;
	top:1013px;
	left:229px;
}
