@charset "utf-8";
/* CSS Document */




header {
	background:url(../img/index/h_bg.png) repeat-x left top , url("../img/index/h_bg.jpg") top center;
	background-size: auto 100%, cover;
	height:524px;
}

header .h_inner {
	width:1300px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}

header nav {
	position:absolute;
	top:110px;
	left:195px;
}

header nav li a {
	padding: 8px 10px;
	letter-spacing: -0.05em;
}


#container {
	width:970px;
	margin:0 auto -100px auto;
	position:relative;
	top:-78px;
	z-index:99;
}
#container ul.c_nav {
	margin-bottom: 15px;
}
#container ul.c_nav a {
	display:block;
	float:left;
	width:226px;
	margin:0 0 0 18px;
	position:relative;
}

#container ul a:first-child {
	margin:0 0 0 0;
}

#container ul a li .box p {
	position:absolute;
	left:22px;
	top:68px;
}

#container ul li .box img {
	position:relative;
	top:7px;
}


#container ul li .bg01 {
	background:url(../img/index/bg01.png) no-repeat;
	width:231px;
	height:263px;
}

#container ul li .bg02 {
	background:url(../img/index/bg02.png) no-repeat;
	width:231px;
	height:263px;
}


#container ul li .bg03{
	background:url(../img/index/bg03.png) no-repeat;
	width:231px;
	height:263px;
}

#container ul li .bg04 {
	background:url(../img/index/bg04.png) no-repeat;
	width:236px;
	height:263px;
}

#container .bottom_area {
	clear:both;
	margin:0;
	width:720px;
	float: left;
}

.info {
	background:url(../img/index/bg_info.png) no-repeat;
	width:721px;
	height:446px;
	float:left;
	position:relative;
}

.info .topi_ttl {
	position:absolute;
	top:23px;
	left:20px;
}

.info .go_list {
	position:absolute;
	top:25px;
	right:30px;
}

.info .go_list img {
	position:relative;
	top:0px;
	left:-3px;
}

.info ul {
	margin:60px 20px 30px 18px;
	border-top:1px dotted #583F47;
}

.info ul li {
	border-bottom:1px dotted #583F47;
	padding:11px 15px 11px 50px;
	background:url(../img/common/arrow_l.png) no-repeat;
	background-position:20px 50%;
	font-weight:bold;
}

.info ul li .data {
	color:#62B928;
	padding:0 15px 0 0;
}

.info ul li .title {
	float:right;
	text-align:left;
	width:510px;
}


#container .side_ban {
	margin-top: 18px;
	float:right;
	position:relative;
	left:7px;
	width:243px;
}


#slide {
	z-index:1;
}


.base {
	position:absolute;
	left:-10px;
}