@charset "utf-8";
/* CSS Document */
.c_inner_single {
	padding: 7px 0 9px !important;
}
.bg_torikumi {
	margin: 0 auto;
	background:url("../img/mind/issues/bg_issues.jpg") no-repeat;
	position:relative;
	width:682px;
	height:1225px;
	line-height:1.4;
}

.ex_00 {
	position:absolute;
	top:-5px;
	left:26px;
	width:400px;
	line-height:1.6;
}

.btn_shisetsu {
	position:absolute;
	top:522px;
	left:321px;
}
.btn_shisetsu a:hover {
	opacity: 0.7;
}



.ex_01 {
	position:absolute;
	top:452px;
	left:27px;
	width:407px;
	line-height: 1.5;
}


.ex_02 {
	position:absolute;
	top:893px;
	left:21px;
	width:200px;
	line-height: 1.5;
}


.ex_03 {
	position:absolute;
	top:893px;
	left:242px;
	width:200px;
	line-height: 1.5;
}

.ex_04 {
	position:absolute;
	top:893px;
	left:460px;
	width:200px;
	line-height: 1.5;
}

.ex_05 {
	position:absolute;
	top:1151px;
	left:21px;
	width:200px;
	line-height: 1.5;
}

.ex_06 {
	position:absolute;
	top:1151px;
	left:242px;
	width:200px;
	line-height: 1.5;
}


.ex_07 {
	position:absolute;
	top:1151px;
	left:460px;
	width:200px;
	line-height: 1.5;
}
