@charset "utf-8";
/* CSS Document */

.linkUl {
	padding-bottom: 30px;
	margin: 4px 51px 0 31px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.linkUl li {
	width: 188px;
}

.linkUl li p {
	margin-top: 5px;
	line-height: 1.642;
}

.linkUl li a {
	text-decoration: none;
}

.linkUl li a:hover {
	opacity: 0.7;
}






