@charset "utf-8";
/* CSS Document */


header nav {
	position:relative;
	z-index:100;
}

header nav li {
	float:left;
}


header nav li a {
	padding: 8px;
	position: relative;
	display: block;
	color: #675056;
	font-size: 18px;
	font-weight: 700;
font-family: "游ゴシック", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-decoration: none;
	letter-spacing: -0.1em;
}
header nav li:first-child a {
	letter-spacing: -0.1em;
}



header nav li a::before {
	width: 2px;
	height: 18px;
	margin-top: -9px;
	position: absolute;
	right: -1px;
	top: 50%;
	background-color: #675056;
	content: '';
}

header nav li:last-child a::before {
	display: none;
}

header nav li a::after {
	left: 2px;
	right: 2px;
	top: 1px;
	bottom: 4px;
	position: absolute;
	background: url("../img/nav/nav_bg.png") no-repeat left top / 100% 100%;
	content: '';
	z-index: -1;
	opacity: 0;
}


header nav li a:hover {
	color: #fff;
}

header nav li a:hover::after {
	opacity: 1;
}

header nav li.on a {
	color: #fff;
}

header nav li.on a::after {
	opacity: 1;
}

	



