@charset "utf-8";
/* CSS Document */

.tabBox {
	margin: -2px 57px 0 33px;
	padding-bottom: 41px;
}
.tabBox table {
	width: 100%;
}

.tabBox table th,
.tabBox table td {
	padding: 14px 15px 10px;
	text-align: left;
	line-height: 1.78;
	vertical-align: middle;
	font-weight: normal;
	border: 1px solid #C8C8C8;
}

.tabBox table th {
	width: 131px;
	box-sizing: border-box;
}

.tabBox table td .note {
	margin-top: 13px;
	font-size: 11px;
	line-height: 1.63;
	text-indent: -1em;
	padding-left: 1em;
}

.linkBox {
	margin: -9px 128px 0 51px;
	padding-bottom: 41px;
}

.linkBox p {
	margin-bottom: 11px;
	line-height: 1.78;
}

.linkBox ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.linkBox ul li {
	width: 251px;
}

.linkBox ul li a:hover img {
	opacity: 0.7;
}

.imgBox {
	margin: -0 62px 0 50px;
	padding-bottom: 34px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.imgBox .photo {
	margin-top: -1px;
	width: 128px;
	text-align: center;
}
.imgBox .photo p {
	margin-top: 4px;
	font-size: 14px;
	line-height: 1.28;
	letter-spacing: -0.05em;
}

.imgBox .textBox {
	padding-right: 30px;
	flex: 1;
}

.imgBox .textBox p {

	line-height: 1.78;
	word-break: break-all;
}

.photoUl {
	padding-bottom: 46px;
	margin: 23px 62px 0 53px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.photoUl li {
	width: 186px;
}

.photoUl li p {
	margin-top: 3px;
}





