@charset "utf-8";
/* CSS Document */

.honbun {
	margin:-10px 0 -30px 0;
	background-color:#FFF;
}

.small {
	font-size:14px;
	font-weight:normal;
	padding:0 0 0 20px;
}

.schedule{
	position:relative;
	left:-19px;
	top:36px;
	width:730px;
	height:1409px;
}

.c_inner_single {
	padding: 0 !important;
}
.bg_event {
	padding-bottom: 44px;
	margin: 0 auto;
	background:url(../img/spend/event/bg.jpg) no-repeat left top 39px;
	width:680px;
	height:1881px;
	position:relative;
}


table th {
	font-weight:normal;
}

table.mon th {
	font-weight:normal;
	position:relative;
	width:55px;
	padding-top: 8px;
	text-align:left;
}

table.mon {
	line-height:1.71;
}

table th img {
	position:absolute;
}


table td {
	text-align:left;
	padding:0 10px 0 0;
	vertical-align:top;
}

table td.wid1 {
	width:74px;
}

table th.wid2 {
	width:50px;
}


.tex_02 {
	position:absolute;
	top:0px;
	right:25px;
}


td.right {
	text-align:right;
}


.m_4 {
	position:absolute;
	top:-6px;
	left: 13px;
}

.m_4 table {
	margin:3px 0 0 5px;
}


.m_5 {
	position:absolute;
	top:149px;
	left: 13px;
}

.m_5 table td.top {
	padding:16px 0 0 0;
}

.m_5 table {
	margin:0 0 0 5px;
}



.m_6 {
	position:absolute;
	top:253px;
	left: 13px;
	
}

.m_6 table td.top {
	padding:8px 0 0 0;
}

.m_6 table {
	margin:3px 0 0 5px;
}


.m_7 {
	position:absolute;
	top:418px;
	left: 13px;
}

.m_7 table td.top {
	padding:10px 0 0 0;
}

.m_7 table {
	margin:0 0 0 5px;
}


.m_8 {
	position:absolute;
	top:547px;
	left: 13px;
}

.m_8 table td.top {
	padding:10px 0 0 0;
}

.m_8 table {
	margin:0 0 0 5px;
}


.m_9 {
	position:absolute;
	top:713px;
	left: 14px;
}

.m_9 table td.top {
	padding:8px 0 0 0;
}

.m_9 table {
	margin:-28px 0 0 5px;
}


.m_10 {
	position:absolute;
	top:896px;
	left: 13px;
}

.m_10 table td.top {
	padding:0 0 0 0;
}

.m_10 table {
	margin:0 0 0 5px;
}



.m_11 {
	position:absolute;
	top:1051px;
	left: 13px;
}

.m_11 table td.top {
	padding:0 0 0 0;
}

.m_11 table {
	margin:0 0 0 5px;
}



.m_12 {
	position:absolute;
	top:1310px;
	left: 14px;
}

.m_12 table td.top {
	padding:7px 0 0 0;
}

.m_12 table {
	margin:-1px 0 0 4px;
}


.m_1 {
	position:absolute;
	top:1529px;
	left: 12px;
}


.m_1 table.mon th {
	padding-top: 0;
}

.m_1 table td.top {
	padding:7px 0 0 0;
}

.m_1 table {
	margin:10px 0 0 5px;
}




.m_2 {
	position:absolute;
	top: 1591px;
	left: 13px;
}

.m_2 table td.top {
	padding:7px 0 0 0;
}

.m_2 table {
	margin:10px 0 0 5px;
}

.m_3 {
	position:absolute;
	top:1733px;
	left: 12px;
}

.m_3 table td.top {
	padding:7px 0 0 0;
}

.m_3 table {
	margin:10px 0 0 5px;
}

.btmTxt {
	margin: 0 34px 9px;
	line-height: 1.857;
}

.note {
	padding: 0 28px 9px;
	text-align: right;
}


.photo {
	margin-bottom: 66px;
	text-align: center;
}

#main_cont .c01 .c01_ttl span {
	margin-left: 15px;
	font-size: 14px;
	font-weight: normal;
}

.photo01 {
	margin: -8px 0 11px;
}

.photo02 {
	margin-bottom: 47px;
}

.photo03 {
	margin-bottom: 0;
}

.linkUl {
	margin: -8px auto 27px;
	width: 660px;
	display: flex;
	justify-content: space-between;
}
.linkUl li {
	width: 326px;
}
.linkUl li a {
	display: block;
	position: relative;
}
.linkUl li a .hover {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
}
.linkUl li a:hover .hover {
	opacity: 1;
}
.linkUl li a:hover .img {
	opacity: 0;
}
.linkUl li.on a .hover {
	opacity: 1;
}
.linkUl li.on a .img {
	opacity: 0;
}



