@charset "utf-8";
/* CSS Document */


.c_inner_single {
	padding:0 30px 0;
}

p.comment {
	padding:30px 0 30px;
}

.c_s_ttl {
	font-weight:bold;
	font-size:115%;
	margin:50px 0 10px 0;
}

.staff_area {
	margin:5px 0 6px;
}

.staff_area table.one,
.staff_area table.two {
	width:100%;
	border-top:1px solid #583F46;
	border-left:1px solid #583F46;
	margin:0 0 10px 0;
}

.staff_area table.one th {
	width:260px;
}

.staff_area table.two th {
	width:105px;
}

.staff_area table.two th.center {
	text-align:center;
}

.staff_area table.two td.naka {
	width:140px;
}


.staff_area table th {
	font-weight:normal;
	border-bottom:1px solid #583F46;
	border-right:1px solid #583F46;
	vertical-align:middle;
}

.staff_area table td {
	border-bottom:1px solid #583F46;
	border-right:1px solid #583F46;
	padding:8px 0 8px 15px;
	vertical-align:middle;
}


