@charset "utf-8";
/* CSS Document */


.c_ttl{
	background:url(../img/topics/bg_ttl.png) no-repeat;
	width:651px;
	height:54px;
	font-weight:bold;
	background-position:left;
	font-size:158%;
	padding:22px 0 0 60px;
}

article.box  {
	background-color:#FFF;
	border:1px solid #fff;
	padding:32px 25px 21px 42px;
	margin:25px 0 0 0;
}


article.box .data {
	color:#6DB614;
	font-size:115%;
	border-bottom:1px solid #6DB614;
}

article.box .title {
	color:#6DB614;
	font-size:115%;
	padding:5px 0 0 0;
}

article.box .detail {
	padding:10px 0 0 0;
}

.toTop_topi {
	font-size:72%;
	padding:10px 0 0 0;
	margin:0 0 30px 0;
	text-align:right;
}


.in_box {
	margin:0px 0 20px 0;
}

.in_box .data_i {
	color:#6DB614;
	font-size:115%;
	text-decoration:none;
}

.in_box .data_i a {
	text-decoration:none;
}

.in_box .title_i {
	float:right;
	text-align:left;
	width:503px;
	color:#6DB614;
	font-size:115%;
}

.in_box .title_i a {
	text-decoration: none;
}

.in_box .title_i a:hover {
	text-decoration: underline;
}



.not {
	font-size:115%;
}

.alignleft {
	float:left;
}

.wp-pagenavi {
	margin-top: 12px;
	clear: both;
	text-align: right;
}

.wp-pagenavi a,
.wp-pagenavi span {
	font-size: 16px;
	display: inline-block;
	text-decoration: none;
	margin: 0 6px;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
	opacity: 0.7;
}

.wp-pagenavi .first,
.wp-pagenavi .last,
.wp-pagenavi .pages {
	display: none;
}
